---
const { name } = Astro.props;
---

<span
    class="inline-block bg-gray-200 dark:bg-gray-700 text-gray-800
    dark:text-gray-300 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
>
    {name}
</span>
